Django>=5.1.4
whitenoise>=6.12.0
Pillow>=11.0.0
python-decouple>=3.8
django-debug-toolbar>=4.3.0
gunicorn>=23.0.0
django-storages>=1.14.2
boto3>=1.26.161
psycopg2-binary>=2.9.10
dj-database-url>=2.1.0
